/* Image */

#ilBro {
    display: inline-flex;
    float: right;
    background-image: url("../images/Character1.svg");
    background-repeat: no-repeat;
    width: 500px;
    height: 412px;
}

/* Social */

.svg {
    width: 20px;
    height: 21px; 
}